/* src/components/Header.css */
.header {
    background-color: brown;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
  }
  
  .header h1{
    margin:0;
    font-size:1.5rem
  }
  
 
  
  
  
  